@model IPagedList<MenuItemCardViewModel>

@{
    ViewData["Title"] = "Изтрити Артикули";
}

<h2 class="text-center mt-5" style="color:#E4C087;">@ViewData["Title"]</h2>
<hr />

@if (User?.Identity?.IsAuthenticated == true && (User.IsInRole("Manager") || User.IsInRole("Admin")))
{
    <nav class="navbar navbar-expand-lg mb-4" style="background-color: rgba(147, 98, 33, 0.5); border-radius: 10px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarCategories">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#E4C087;">
                        Категории
                    </a>
                    <ul class="dropdown-menu overflow-auto custom-scrollbar" aria-labelledby="categoryDropdown" style="background-color: rgba(147, 98, 33, 0.5); max-height: 200px;">
                        <li>
                            <a class="dropdown-item @(ViewBag.SelectedCategoryId == null ? "active" : "")" asp-action="DeletedItems" style="color:#E4C087;">Всички категории</a>
                        </li>
                        @foreach (var category in (IEnumerable<SelectListItem>)ViewBag.Categories)
                        {
                            <li>
                                <a class="dropdown-item @(category.Value == (ViewBag.SelectedCategoryId?.ToString() ?? string.Empty) ? "active" : "")" asp-action="DeletedItems" asp-route-categoryId="@category.Value" style="color:#E4C087;">@category.Text</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 d-flex flex-column" style="position: relative; background-color: rgba(147, 98, 33, 0.5); border-radius: 10px;">
                        <form asp-action="UnDelete" asp-route-id="@item.MenuItemId" method="post" class="text-decoration-none h-100 d-flex flex-column" onsubmit="return confirm('Сигурни ли сте, че искате да възстановите този артикул?');">
                            @Html.AntiForgeryToken()
                            @if (item.ImageURL.StartsWith("http"))
                            {
                                <img src="@item.ImageURL" class="card-img-top" alt="@item.Name" style="border-radius: 10px 10px 0 0;">
                            }
                            else
                            {
                                <img src="~/@item.ImageURL" class="card-img-top" alt="@item.Name" style="border-radius: 10px 10px 0 0;">
                            }
                            <div class="card-body flex-grow-1 d-flex flex-column">
                                <h5 class="card-title mb-3" style="color:#E4C087;">@item.Name</h5>
                                <p class="card-text" style="color:#E4C087;">@item.Ingredients</p>
                            </div>
                            <div class="card-footer mt-auto d-flex justify-content-between" style="background-color: rgba(147, 98, 33, 0.5);">
                                <span>@item.Price лв</span>
                                <span>@item.Quantity гр/мл</span>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Възстановяване</button>
                        </form>
                    </div>
                </div>

            }
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("DeletedItems", new { page, categoryId = ViewBag.SelectedCategoryId }), new PagedListRenderOptions
       {
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           MaximumPageNumbersToDisplay = 5
       })
            </div>
        </div>
    </div>
}

@section Scripts {
    <link href="~/css/custom-styles.css" rel="stylesheet" asp-append-version="true" />
}
