@model IEnumerable<ReservationViewModel>;

<h2 class="text-center mt-5" style="color:#E4C087;">Резервации</h2>
<hr />
<div class="d-flex justify-content-center mb-3">
    <a asp-action="Create" class="btn custom-btn">Добавяне на резервация</a>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped custom-table">
            <thead class="thead-dark">
                <tr>
                    <th>Потребител ID</th>
                    <th>Дата и час</th>
                    <th>Брой гости</th>
                    <th>Маса</th>
                    <th>Местоположение</th>
                    <th>Състояние</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model)
                {
                    <tr class="custom-row">
                        <td>@reservation.UserId</td>
                        <td>@reservation.ReservationDate</td>
                        <td>@reservation.NumberOfGuests</td>
                        <td>@reservation.TableId</td>
                        <td>@(reservation.IsIndor ? "Вътре" : "Вън")</td>
                        <td>@(reservation.IsCanceled ? "Анулирана" : "Активна")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@reservation.ReservationId" class="btn custom-btn mx-1">Редактиране</a>
                            <form asp-action="Cancel" asp-route-id="@reservation.ReservationId" method="post" class="d-inline" onsubmit="return confirm('Сигурни ли сте, че искате да анулирате тази резервация?');">
                                <input type="submit" value="Анулиране" class="btn custom-btn mx-1" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <link href="~/css/reservation/custom-styles.css" rel="stylesheet" asp-append-version="true" />
}